{% load i18n %}
<div id="filters">
  {{ select_filter_form.as_p }}

  <div id="allFiltersByGroups">
    {% for name, dct in groups.items %}
      <div class="filter-wrapper">
        <div class="filter-lookup" data-filter-lookup="{{ name }}">
          {{ dct.lookups_choice_form.as_p }}
        </div>
        <div data-filter-name="{{ name }}" class="filter-block">
          {% for form_dct in dct.filters_forms %}
            {{ form_dct.form.as_p }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <form method="get">
    <div id="selectedFilters">
      {% for name, dct in selected_groups.items %}
        <div class="filter-wrapper">
          <div class="filter-lookup filter-lookup--selected" data-filter-lookup="{{ name }}">
            {{ dct.lookups_choice_form.as_p }}
          </div>
          <div data-filter-name="{{ name }}" class="filter-block filter-block--selected">
            {% for form_dct in dct.filters_forms %}
              {{ form_dct.form.as_p }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button type="submit">{% translate "submit" %}</button>
  </form>
</div>
